<button mat-raised-button (click)="toggleHoverVisibility()">Toggle hover visibility</button>

<!--use the ngx-hover-opacity component to wrap the element to hover -->
<ngx-hover-opacity [isHoverVisible]="isHoverVisible">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Card Title</mat-card-title>
      <mat-card-subtitle>Card Subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Use ngx-hover-opacity to display a "mask" on some HTML element
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://github.com/maxime1992/ngx-hover-opacity" target="_blank" mat-raised-button color="accent">
        Github ngx-hover-opacity
      </a>
      <a href="https://twitter.com/maxime1992" target="_blank" mat-button color="primary">Twitter @maxime1992</a>
    </mat-card-actions>
  </mat-card>
</ngx-hover-opacity>
